absl-py
alembic
aniso8601
annotated-types
anyio
astunparse
attrs
av
beautifulsoup4
bleach
blinker
bs4
cachelib
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
defusedxml
distlib
distro
dotenv
fastjsonschema
filelock
Flask
Flask-Caching
Flask-Cors
Flask-Mail
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
flatbuffers
fonttools
fpdf
fsspec
gast
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keras
kiwisolver
libclang
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mistune
ml-dtypes
mpmath
nbclient
nbconvert
nbformat
networkx
nltk
numpy
openai
opencv-python
opt_einsum
optree
packaging
pandas
pandocfilters
pillow
platformdirs
protobuf
pycparser
pydantic
pydantic_core
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
qwen-vl-utils
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow_keras
termcolor
threadpoolctl
timm
tinycss2
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typing_extensions
tzdata
urllib3
virtualenv
webdriver-manager
webencodings
websocket-client
Werkzeug
wheel
wrapt
wsproto
